 
# Must be installed using these commands :
# (change the version of torch to match your CUDA version)
# > pip install pysubs2==1.8.0 tqdm==4.67.1 gradio==5.23.1 sentencepiece==0.2.0 sacremoses==0.1.1
# > pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126


streamlit==1.45.1
vinted_scraper==2.4.0
bs4==0.0.2
matplotlib==3.10.3
scikit-learn==1.6.1
tensorflow==2.19.0
torch==2.7.0
transformers==4.52.0
